<a href="https://colab.research.google.com/github/hyperkraz/MAT421/blob/main/HW1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**HW 1**

***Problem 1***

In [42]:
def my_bin_2_dec(b):
  d = 0  # Begin with d equaling 0
  for i in b: # From left to right, take the digit in b
    d = 2*d + i # Take the existing d and multiply by 2 and then add the digit

  return d # Output the decimal number, d

In [43]:
my_bin_2_dec([1,1,1])

7

In [44]:
my_bin_2_dec([1,0,1,0,1,0,1])

85

In [45]:
my_bin_2_dec([1]*25)

33554431

***Problem 2***

In [46]:
def my_dec_2_bin(d):
  b = [] # Make an empty list
  if d == 0: # If decimal input is 0,
    b.append(0) # then have leading term be 0

  while d >= 1: # When d is not zero,
    b.append(d%2) # Divide d by 2 to get a remainder and add any remainder to the list
    d = d//2 # Now simply divide d by 2 but ignore the remainder and set the whole number to d
  
  # Now we have the correct list but in the incorrect order
  
  b.reverse() # Reverse the list of ones and zeros

  return b # Output the list of ones and zeros, b

In [47]:
my_dec_2_bin(0)

[0]

In [48]:
my_dec_2_bin(23)

[1, 0, 1, 1, 1]

In [49]:
my_dec_2_bin(2097)

[1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1]